body {
  padding-top:    50px;
  padding-bottom: 70px;
}

.navbar-fixed-bottom > nav.navbar {
  margin-bottom: 0;
}

nav.navbar-default .navbar-nav > a:hover,
nav.navbar-default .navbar-nav > a:focus,
nav.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus {
  color: #111;
}
