<div class="container navbar-fixed-bottom">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-text">By <%= link_to "Michal Papis", "https://github.com/mpapis" %></p>
      </div>
    </nav>
  </div>
</div>
