<div class="container navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= nav_to "Home", root_path %>
          <%= nav_to "Lists", lists_path %>
          <%= nav_to "Tasks", tasks_path %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? then %>
            <%= nav_to "Logout",  destroy_user_session_path %>
          <% else %>
            <%= nav_to "Login",   new_user_session_path %>
            <%= nav_to "Sign up", new_user_registration_path %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
