<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/menu" %>
    <div class=container>
      <%- if notice then %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <%- if alert then %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
